<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
	<suite name="HAC" time-out="1800000" parallel="false">
		<test name="HAC" preserve-order="true">
		
			<classes>
				<class name="TestCases.LoginTest"/>
				<class name="TestCases.MyAccountTest"/>
			</classes>
		</test>
	</suite>